
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SignUp </title> 

    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body> 
    <div>
      <header class="navigation">
          <nav class="navbar">  
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/signup">SignUp</a></li> 
                  <li><a href="/admin-login">Admin login</a></li>
              </ul>
          </nav>
      </header>
  </div>

  <div class="wrapper">
    <h2>Login</h2>
    
      <div class="errmsg" id="errorBackend">
        <% if (errorMessage) {%>
        <%= errorMessage %>
        <% } %>
      </div>
     
      <p id="frontEndError" class="errmsg"></p>
    <form   
       action="<% if (adminLogin) { %>admin-login<% } else { %>/login<% } %>"
       method="post" 
       onsubmit="return validateForm(event)"
       novalidate>
      <div class="input-box">
        <input type="email" placeholder="Enter your email" name="email" id="email"  value="<%= oldInput.email %>">
      </div>

      <div class="input-box">
        <input type="password" placeholder="Enter password" name="password" id="password">
      </div>
      <div class="input-box button">
        <input type="Submit" value="Login">
      </div>
      <% if(!adminLogin) {%>
      <div class="text">
        <h3>Don't have an account? <a href="/signup">Create Account</a></h3>
        <h3><a href="/forgot-password">Forgot Password</a></h3>
      </div>
      <% } else{%>
        <div class="text">
          <h3><a href="/admin-signup">Create Admin Account</a></h3>
        </div>
      <% } %>
    </form>
  </div>
</body>
</html>

<script>
  function validateForm(event) {
    event.preventDefault(); 
    let email = document.getElementById("email").value.trim();
    let password=document.getElementById('password').value
    let errMsg = document.getElementById("frontEndError");
    errMsg.textContent = "";
    let isValid = true;
   
      if (email === "") {
          errMsg.textContent = "Email can't empty";
          isValid = false;
      } 
      else if (!email.includes("@") || !email.includes(".")) {
          errMsg.textContent = "Invalid email format";
          isValid = false;
      }
      else if(password===''){
        errMsg.textContent = "Enter Correct Password";
          isValid = false;
      }
      else if(password.trim().length < 5){
        errMsg.textContent = "Password length greather than 5!!";
          isValid = false;
      }
      
      // if (isValid) {
      // document.querySelector("form").submit();
      //  }
      // return isValid;

      if (isValid) {
      document.querySelector("form").submit();
       }else{
        //  let errorBackend = document.getElementById("errorBackend");
        // errorBackend.textContent=""
        document.getElementById("errorBackend").innerHTML = "";
        return isValid;
       }
  }
</script>