
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SignUp </title> 

    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <!-- <%- include('../layout/navigation') %> -->
   
    <div>
      <header class="navigation">
          <nav class="navbar">  
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/signup">SignUp</a></li> 
                  <li><a href="/admin-login">Admin login</a></li>
              </ul>
          </nav>
      </header>
  </div>
<div class="wrapper">
    <h1>
        <%= Message %>
    </h1>
</div>
</body>
</html>
