
<div>
    <header class="navigation">
        <nav class="navbar">
           
            <ul>
                <li><a href="/admin/index">Home</a></li>
                <li><a href="/admin/all-blog">All Blog</a></li>
                <li><a href="/admin/user-details">User Details</a></li>
                 
            </ul>
            <div class="auth-buttons">
                <form action="/admin-logout" method="post">     
                     <button type="submit" class="navbar">Logout</button>
                </form>

            </div>
        </nav>
    </header>
</div>

