
<div>
    <header class="navigation">
        <nav class="navbar" > 
           
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/my-blog">My Blog</a></li>
                <li><a href="/add-blog">Add New Blog</a></li>
                <li><a href="/edit-profile">Edit Profile</a></li>
            </ul>
            <div class="auth-buttons">
                <form action="/user-logout" method="post">     
                     <button type="submit" class="navbar">Logout</button>
                </form>
            </div>
        </nav>
    </header>
</div>

